@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
:root{
    --primary-color: #545F71;
    --secondary-color: #9BA5B7;
    --tertiary-color: #EEF1F4;
    --white: #FFFFFF;
}
.pageTitle{
    padding-left: 8.75rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-top: 3rem;
}