
.mainDivHeader{
    display: flex;
    justify-content: space-between;
    padding: 2rem 8.75rem 2rem 8.75rem;
    background-color: var(--tertiary-color);
}

.itemsRightHeader{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.itemsRightHeader > h4{
    color: var(--primary-color);
    font-weight: 400;
}
.itemsRightHeader > button{
    width: 3.6rem;
    height: 2rem;
    font-weight: 600;
    border-radius: 1.5rem;
    background-color: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);    
}