.formCadasterProduct{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.containerProductCadaster{
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
    width: 22.5rem;
    height: 22.5rem;
    padding: 1.25rem 1.25rem .6rem 1.25rem;
    border-radius: 30px;
    border: 1px black solid;
    gap: .5rem;
}
.containerProductCadaster > input{
    height: 3rem;
    border-radius: 6px;
    border: none;
    border: 1px black solid;
}
.containerProductCadaster > label{
    color: var(--primary-color);
}
.buttonsProductCadaster{
    display: flex;
    align-self: center;
    align-items: end;
    gap: 2.5rem;
    margin-top: 3rem;
}
.cadasterButton{
    width: 6.75;
    height: 3rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px;
}
.cancelButton{
    width: 6.75;
    height: 3rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 6px;
    color: var(--primary-color);
    font-weight: 600;
    background-color: var(--tertiary-color);
    border: solid var(--primary-color) 2px;
}