.productContainer {
    width: 52.188rem;
    height: 5.875rem;
    background-color: var(--tertiary-color);
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.375rem;
    align-items: center;
    
}

.productInfo {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}	

.nameRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}

.productName{
    font-size: 1rem;
    font-weight: bolder;
    color: black;
}

.infoRow {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--primary-color);
}

.verticalLine {
    height: 80%;
    border: 0.063rem solid var(--secondary-color);
}

.quantitySection {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.quantityTitle {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--primary-color);
}

.modularQuantity {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.amount {
    width: 6.25rem;
    height: 3rem;
    border-radius: 0.375rem;
    border: 0.063rem solid var(--primary-color);
    border-color: var(--primary-color);
}

::placeholder {
    padding-left: 5px;
}

.modularButtons {
    display: flex;
    flex-direction: row;
    gap: .625rem;
}

.buttonAdd, .buttonRemove {
    width: 3rem;
    height: 3rem;
    border-radius: 0.375rem;
    border: 0.125rem solid var(--primary-color);
    border-color: var(--primary-color);
}

.buttonCart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 8.188rem;
    height: 3rem;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.buttonCart > h2 {
    font-size: 1rem;
}